@using DNetProject.CustomHelpers
@model DNetProject.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/Home.css">
<div class="jumbotron">
    <h1>Fajne Zdjęcia</h1>
</div>

<div class="home-container" id="home-container">



    @section privates
        {
        @if (Request.IsAuthenticated)
        {
            if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Verified"))
            {
                <div class="album-section" id="album-section">
                    <div class="panel panel-default">
                        <div class="panel-heading">Prywatne Albumy</div>
                        @foreach (var item in Model.privateList)
                        {
                            <a href="@Url.Action("Album", "Album", new {albumId = item.id})" style="text-decoration: none;">
                                <div class="panel-body">@Html.DisplayFor(modelItem => item.album_name)</div>
                            </a>

                        }
                    </div>
                </div>
            }
        }

    }


    @section picture
        {
        <div class="picture-section" id="picture-section">

            @foreach (var item in Model.pictureList)
            {
                <div class="gag-object">
                    <a target="_blank" href="@Url.Action("Picture", "Picture", new {picId = item.id})">
                        <span class="gag-title">@Html.DisplayFor(modelItem => item.title)</span><br />
                    </a>


                    @Html.Image(item.img)
                    <div class="category-delete">

                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                <div class="delete-flex">
                                    <a onclick="return confirm('Are you sure?')" href=@Url.Action("Delete", "Home", new {picId = item.id}) class="fas fa-times fa-2x" style="color: red;">Usuń</a>
                                </div>
                            }
                        }

                    </div>

                </div>
                <hr style="border-color: #383636;" />
            }
        </div>
    }
    @section albums{
        <div class="album-section" id="album-section">
            <div class="album-section" id="album-section">
                <div class="panel panel-default">
                    <div class="panel-heading">Publiczne Albumy</div>
                    @foreach (var item in Model.albumList)
                    {
                        <a href="@Url.Action("Album", "Album", new {albumId = item.id})" style="text-decoration: none;">
                            <div class="panel-body">@Html.DisplayFor(modelItem => item.album_name)</div>
                        </a>

                    }
                </div>
            </div>
        </div>


    </div>
    }