@using DNetProject.CustomHelpers
@model DNetProject.Models.HomeModel

@{
    ViewBag.Title = "Picture";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/Home.css">
<div class="jumbotron">
    <h1>Fajne Zdjęcia</h1>
</div>
<div class="home-container">
    @section privates{
    @if (Request.IsAuthenticated)
    {
        if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Verified"))
        {
            <div class="album-section" id="album-section">
                <div class="panel panel-default">
                    <div class="panel-heading">Prywatne Albumy</div>
                    @foreach (var item in Model.privateList)
                    {
                        <a href="@Url.Action("Album", "Album", new {albumId = item.id})" style="text-decoration: none;">
                            <div class="panel-body">@Html.DisplayFor(modelItem => item.album_name)</div>
                        </a>

                    }
                </div>
            </div>
        }
    }
    }
    @section picture {
        <div class="picture-section" id="picture-section">


            @foreach (var item in Model.pictureList)
            {
                <div class="gag-object">
                    <span class="gag-title">@Html.DisplayFor(modelItem => item.title)</span><br />
                    <img class="gag-picture" src="~/UserPictureImages/@Html.DisplayFor(modelItem => item.img)" style="width: 600px"> <br />


                    @using (Ajax.BeginForm("AddToPrivate",
                        new { id = Model.pictureId },
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "comment-section",
                            InsertionMode = InsertionMode.Replace,

                            OnSuccess = "alert('Dodano Zdjęcie do Kategorii')"
                        }))
                    {


                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.album.id, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.album.id, new SelectList(Model.privateList, "id", "album_name"), "Wybierz kategorię",
                                  new { @class = "form-control form-mid" })
                                @Html.ValidationMessageFor(model => model.album.id, "", new { @class = "text-danger" })
                                <button class="btn btn-default" type="submit"> Post </button>
                            </div>
                        </div>



                    }
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <div class="delete-flex">
                                <a onclick="return confirm('Are you sure?')" href=@Url.Action("DeleteGag", "Home", new { picId = item.id }) class="fas fa-times fa-2x" style="color: red;">Usuń</a>
                            </div>
                        }
                    }

                </div>


            }

            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole("Verified") || User.IsInRole("Admin"))
                {


                    using (Ajax.BeginForm("Comment",
                    new { id = Model.pictureId },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "comment-section",
                        InsertionMode = InsertionMode.Replace,

                    }))
                    {


                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <h4>Dodaj komentarz</h4>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.Hidden("id", Model.pictureId)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.comment.text, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.comment.text, new { htmlAttributes = new { @class = "form-control", @onchange = "OnChangeEvent(event)" } })
                                    @Html.ValidationMessageFor(model => model.comment.text, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-default" type="submit"> Post </button>

                                </div>
                            </div>

                        </div>
                    }
                }
                else if (User.IsInRole("User"))
                {
                    <h3>Zweryfikuj swój profil żeby dodać komentarz</h3>
                }
            }

        </div>
    }
    @section comments{
        <div class="description-section">
            @foreach (var item in Model.pictureList)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">Opis</div>
                    <div class="panel-body">@Html.DisplayFor(modelItem => item.description)</div>
                </div>
            }
        </div>
        <div class="comment-section" id="comment-section">

            @foreach (var item in Model.pictureComments)
            {
                <div class="actionBox">
                    <ul class="commentList">
                        <li>
                            @*<div class="commentText">
                                <span class="date sub-text">@Html.DisplayFor(modelItem => item.Users.username)</span>
                                <p>@Html.DisplayFor(modelItem => item.text)</p>
                            </div>*@
                            @Html.Comment(item.Users.username, item.text)
                    </ul>
                </div>
            }
        </div>
    </div>
        }
            <script>
                function OnChangeEvent(event) {
                    document.getElementById("label").innerHTML = event.target.value;
                };
            </script>

         @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
           }
